---
import HeroGP from "@/components/HeroGP.astro"
import Annotation from "@/icons/Annotation.astro"
import Ticket from "@/icons/Ticket.astro"
import Layout from "@/layouts/Layout.astro"
import ClasificacionEquipos from "@/sections/ClasificacionEquipos.astro"
import ClasificacionIndividual from "@/sections/ClasificacionIndividual.astro"
import Nav from "@/sections/Nav.astro"

import { GpService } from "@/lib/gpService"
import { TemporadaService } from "@/lib/temporadaService"
import { getSession } from "auth-astro/server"

const session = await getSession(Astro.request)
const emailUser = session?.user?.email ?? null

const { i } = Astro.params
const gpId = parseInt(i || "0")

let gpService = new GpService()
const gp = await gpService.getGp(gpId)

const temporadaService = new TemporadaService()
const temporada = await temporadaService.getCurrentTemporada()
---

<Layout title="F1 Limb">
	<Nav idTemporada={temporada.id} />
	<main class="mx-auto max-w-6xl px-2 pt-16 md:pt-20 lg:px-10">
		<HeroGP gp={gp} />

		<section class="mx-auto my-10 flex max-w-6xl justify-center">
			<a
				href={"/gp/" + gpId}
				title={"Apuestas de " + gp.nombre}
				class="flex bg-teal-800 p-3 text-white hover:bg-teal-500 hover:text-black"
			>
				<i><Annotation class="mr-1 h-5 w-5 text-white" /></i>
				Apuestas
			</a>
			{
				emailUser && (
					<a
						href={"/gp/" + gpId + "/misapuestas"}
						title={"Mis Apuestas de  " + gp.nombre}
						class="ml-5 flex items-center bg-teal-800 p-3 text-white hover:bg-teal-500 hover:text-black"
					>
						<Ticket class="mr-1 h-5 w-5 text-white" />
						Mis apuestas
					</a>
				)
			}
		</section>

		<article class="mb-10 flex flex-col justify-center gap-12 md:flex-row md:items-start">
			<ClasificacionIndividual gpId={gpId} />
			<ClasificacionEquipos gpId={gpId} />
		</article>
	</main>
</Layout>
