---
import Layout from "@/layouts/Layout.astro";
import ListaApuestas from "@/sections/ListaApuestas.astro";
import Nav from "@/sections/Nav.astro";
---

<Layout title="F1 Limb">
  <Nav />
  <main class="mx-auto max-w-6xl px-2 pt-16 md:pt-20 lg:px-10">
    <article class="flex flex-col justify-center">
      <h2 class="text-3xl font-bold text-center">Apuestas - GP Bahrain 2024</h2>
      <ListaApuestas />
    </article>
  </main>
</Layout>
