---
import Layout from "@/layouts/Layout.astro";
import Nav from "@/sections/Nav.astro";
import ClasificacionIndividual from "@/sections/ClasificacionIndividual.astro";
import ClasificacionEquipos from "@/sections/ClasificacionEquipos.astro";

---

<Layout title="F1 Limb">
  <Nav />
  <main
    class="mx-auto max-w-6xl px-2 pt-16 md:pt-20 lg:px-10 flex flex-col md:flex-row justify-center items-center md:items-start"
  >

  <article class="flex flex-col gap-12 md:flex-row justify-center mb-10 md:items-start">
    <ClasificacionIndividual />
    <ClasificacionEquipos />
  </article>

  </main>
</Layout>
