---
import Layout from '@/layouts/Layout.astro'
import Apuestas from '@/sections/Apuestas.astro'
import Nav from '@/sections/Nav.astro'
---

<Layout title="F1 Limb">
    <Nav/>
	<main class="mx-auto max-w-6xl px-2 pt-16 md:pt-20 lg:px-10">
		<article class="flex justify-center">
			
		</article>
	</main>
</Layout>