---
import Layout from "@/layouts/Layout.astro";
import Nav from "@/sections/Nav.astro";
import HeroGP from "@/components/HeroGP.astro";
import Horarios from "@/components/Horarios.astro";
import ListaApuestas from "@/sections/ListaApuestas.astro";
import Sort from "@/icons/Sort.astro";
import { turso } from "../turso";


// Se a침aden las rutas est치ticas
export async function getStaticPaths() {
  const { rows: gpRows } = await turso.execute("SELECT * FROM gp");
  let statics = [];
  for (let index = 0; index < gpRows.length; index++) {
    statics.push({ params: { i: index.toString() } });
  }
  return statics;
}

const { i } = Astro.params;

/**TODO change i por info.id */
const gpId = parseInt(i) + 1
const { rows }  = await turso.execute({ sql: 'SELECT * FROM gp WHERE id = ?', args: [gpId]})
const infoGP = rows[0];

---

<Layout title="F1 Limb">
  <Nav info={infoGP} />
  <main class="mx-auto max-w-6xl px-2 pt-16 md:pt-20 lg:px-10">
    <HeroGP info={infoGP} />
    <picture class="flex justify-center">
      <img src={"/img/" + infoGP.circuit} class="h-48" />
    </picture>

    <section class="mx-auto max-w-6xl flex justify-center my-10">
      <Horarios info={infoGP} />
    </section>

    <section class="mx-auto max-w-6xl flex justify-center my-10">
      <a
        href={"/clasificacion" + parseInt(i)}
        title={"Clasificaci칩n " + infoGP.nombre}
        class="flex hover:bg-teal-500 hover:text-black bg-teal-800 text-white p-3"
      >
        <i><Sort class="h-5 w-5 text-white mr-1" /></i>
        Clasificaci칩n del GP
      </a>
    </section>

    <article class="flex flex-col justify-center">
      <ListaApuestas index={parseInt(i)} />
    </article>
  </main>
</Layout>
