---
import Layout from '../layouts/Layout.astro'
import Hero from '../sections/Hero.astro'
import Apuestas from '../sections/Apuestas.astro'
---

<Layout title="F1 Limb">
	<Hero/>
	<main>
		<Apuestas/>
	</main>
</Layout>
