---
import { UserService } from "@/lib/userService"
import { getSession } from "auth-astro/server"

let session = await getSession(Astro.request)
let userService = new UserService()
const userAuthorized = await userService.isUserAuthorized(session)
---

<button id="user-auth" class="hidden" data-autorized={userAuthorized.toString()}></button>

<script>
	const { signOut } = await import("auth-astro/client")
	const auth = document.getElementById("user-auth")?.dataset.autorized
	if (auth == "false") {
		alert("Usuario no autorizado")
		signOut()
	}
</script>
