---
import type { GpVO } from "@/lib/model"

interface Props {
	gp: GpVO
}
const { gp } = Astro.props

const dateOptionsDia: Intl.DateTimeFormatOptions = {
	day: "2-digit",
	month: "short",
	timeZone: "CET",
}
---

<article class="flex flex-col justify-center">
	<div class="mb-5 flex flex-col items-center">
		<h1 class="flex flex-col items-center text-center text-5xl font-bold md:flex-row">
			<img class="mr-2 h-8" src={"/img/" + gp.flag} />
			{gp.nombre}
		</h1>
		<small class="text-center text-xs font-semibold">
			{gp.libres1?.toLocaleDateString("es-ES", dateOptionsDia)} -
			{gp.carrera?.toLocaleDateString("es-ES", dateOptionsDia)}
		</small>
	</div>
</article>
