---
import Chevron from "@/icons/Chevron.astro"
import Clock from "@/icons/Clock.astro"

const { info } = Astro.props

const dateOptions: Intl.DateTimeFormatOptions = {
	weekday: "short",
	hour: "2-digit",
	minute: "2-digit",
	timeZone: "CET",
}
---

<details class="w-72 [&_svg]:open:-rotate-180">
	<summary
		class="text-md flex cursor-pointer flex-row items-center gap-4 rounded-sm bg-slate-200 p-3 text-center font-semibold"
	>
		<Chevron class="rotate-0 transform text-slate-700 transition-all duration-300" />
		<div class="flex flex-row items-center">
			Horarios
			<Clock class="ml-1 h-5 w-5 text-black" />
		</div>
	</summary>
	<div class="px-4 capitalize shadow-xl">
		<div class="flex flex-col">
			<span>Libres 1: {new Date(info.libres1).toLocaleTimeString("es-ES", dateOptions)}</span>
			<span>Libres 2: {new Date(info.libres2).toLocaleTimeString("es-ES", dateOptions)}</span>
			<span>Libres 2: {new Date(info.libres3).toLocaleTimeString("es-ES", dateOptions)}</span>
		</div>
		<hr class="my-2" />
		<div class="flex flex-col">
			<span class="font-semibold"
				>Clasificación: {
					new Date(info.clasificacion).toLocaleTimeString("es-ES", dateOptions)
				}</span
			>
			<span class="font-semibold"
				>Carrera:
				<span class="">{new Date(info.carrera).toLocaleTimeString("es-ES", dateOptions)}</span>
			</span>
		</div>
		<p class="text-right text-xs normal-case">* agro time</p>
	</div>
</details>
