---
import { ClasificacionService } from "@/lib/clasificacionService"
import { ConfigService } from "@/lib/configService"

const configService = new ConfigService()
const clasificacionService = new ClasificacionService()

const aportacion = await configService.getAportacion()
const ganancias = await clasificacionService.getTotalGanancias()

let percent = ((aportacion + ganancias) * 50) / aportacion
percent = percent <= 100 ? percent : 100
const acumulado = Math.round((aportacion + ganancias) * 100) / 100
---

<div class="w-full bg-neutral-600 text-teal-500">
	<div
		class="bg-teal-500 pr-2 text-right text-xs text-white"
		style={"width: " + percent + "%"}
		title={"Gananncias " + acumulado + "€ de " + aportacion + "€"}
	>
		{acumulado}&euro;
	</div>
	{percent == 0 && acumulado + "&euro;"}
</div>
<div class="flex justify-between">
	<span class="text-xs">Aportado {aportacion}&euro;</span>
	<span class="text-xs">Ganacia neta {Math.round(ganancias * 100) / 100}&euro;</span>
</div>
