---
import type { GpVO } from "@/lib/model"

interface Props {
	gp: GpVO
}
const { gp } = Astro.props

const dateOptionsDia: Intl.DateTimeFormatOptions = {
	day: "2-digit",
	month: "short",
	timeZone: "CET",
}

const dateOptions: Intl.DateTimeFormatOptions = {
	weekday: "long",
	hour: "2-digit",
	minute: "2-digit",
	timeZone: "CET",
}
---

<div class="swiper-slide">
	<a href={"/gp/" + gp.id} title={"Info " + gp.nombre}>
		<article
			class="relative mx-auto my-10 flex w-9/12 min-w-72 flex-col justify-center p-5 shadow-xl"
		>
			<img
				src={"/img/" + gp.circuit}
				class="absolute inset-0 z-0 max-h-full max-w-full opacity-10"
			/>
			<h5 class="z-10 mb-5 flex flex-col text-center text-xl font-semibold">
				<div class="flex items-center justify-center">
					<img class="mr-2 h-8" src={"/img/" + gp.flag} />
					<div class="flex flex-col">
						{gp.nombre}
						<small class="text-center text-xs font-semibold">
							{gp.libres1?.toLocaleDateString("es-ES", dateOptionsDia)}
							-
							{gp.carrera?.toLocaleDateString("es-ES", dateOptionsDia)}
						</small>
					</div>
				</div>
			</h5>
			<div class="z-10 flex flex-col">
				<span>Libres 1: {gp.libres1?.toLocaleTimeString("es-ES", dateOptions)}</span>

				{
					gp.libres2 && (
						<span>Libres 2: {gp.libres2?.toLocaleTimeString("es-ES", dateOptions)}</span>
					)
				}

				{
					gp.libres3 && (
						<span>Libres 3: {gp.libres3?.toLocaleTimeString("es-ES", dateOptions)}</span>
					)
				}

				{
					gp.clasificacionSprint && (
						<span>
							Sprint Qualifying: {gp.clasificacionSprint?.toLocaleTimeString("es-ES", dateOptions)}
						</span>
					)
				}

				{
					gp.sprint && (
						<span>Sprint Race: {gp.sprint?.toLocaleTimeString("es-ES", dateOptions)}</span>
					)
				}
			</div>

			<hr class="z-10 my-2" />
			<div class="z-10 flex flex-col">
				<span class="font-semibold"
					>Clasificación: {gp.clasificacion?.toLocaleTimeString("es-ES", dateOptions)}</span
				>
				<span class="font-semibold"
					>Carrera: {gp.carrera?.toLocaleTimeString("es-ES", dateOptions)}</span
				>
			</div>
		</article>
	</a>
</div>
