---
import type { Clasificacion } from "@/lib/model";
import Exclamation from "@/icons/Exclamation.astro";
import { turso } from "../turso";
import type { ResultSet } from "@libsql/client";

const { gpId } = Astro.props;

const { rows: rowClasificacion }  = await selectClasificacion()

function selectClasificacion():Promise<ResultSet>{
  if(gpId){
    return turso.execute({sql: 
      'SELECT c.id,  SUM(c.ganancia) as ganancia, SUM(c.puntos) as puntos,  t.nombre as teamNombre, t.id as teamId '+
      'FROM clasificacion c '+
      'LEFT JOIN user u ON u.id = c.userId '+
      'LEFT JOIN team t ON t.id = u.teamId '+
      'WHERE c.gpId = ? GROUP BY t.id ORDER BY SUM(c.puntos) desc', args: [gpId]})
  }
  return turso.execute( 
      'SELECT c.id,  SUM(c.ganancia) as ganancia, SUM(c.puntos) as puntos,  t.nombre as teamNombre, t.id as teamId '+
      'FROM clasificacion c '+
      'LEFT JOIN user u ON u.id = c.userId '+
      'LEFT JOIN team t ON t.id = u.teamId '+
      'GROUP BY t.id ORDER BY SUM(c.puntos) desc, SUM(c.ganancia) desc')
}


let listClasificacion: Clasificacion[] = []
listClasificacion = rowClasificacion.map((c: any): Clasificacion => {
  return {
    id: c.id,
    team: {
        id: c.teamId,
        nombre: c.teamNombre
    },
    ganancia: c.ganancia,
    puntos: c.puntos
  }
})

---

<article class="flex flex-col justify-center">
  <h2 class="text-3xl font-bold text-center mb-5">Clasificación por Equipos</h2>

  {
    listClasificacion && (
      <ul class="max-w-[40rem] mx-auto">
        {listClasificacion.map((c, i) => (
          <li class="grid grid-cols-[.3fr_1fr_.7fr_.5fr] gap-4 hover:bg-gray-300">
            <div class="text-right">{i + 1}</div>
            <div>{c.team?.nombre}</div>
            <div class="text-right">{Math.round(c.ganancia * 100) / 100} €</div>
            <div>{c.puntos} pts.</div>
          </li>
        ))}
      </ul>
    )
  }

  {
    !listClasificacion && (
      <div class="flex bg-gray-300 p-5">
        <i>
          <Exclamation class="h-5 w-5 text-black mr-1" />
        </i>{" "}
        Clasificación no disponible
      </div>
    )
  }
</article>
