---
import Exclamation from "@/icons/Exclamation.astro"
import { ClasificacionService } from "@/lib/clasificacionService"

const { gpId, idTemporada } = Astro.props

let clasificacionService = new ClasificacionService()
const listClasificacion = await clasificacionService.getClasificacionEquipos(
	idTemporada,
	gpId ?? null
)
---

<article class="flex flex-col justify-center">
	<h2 class="mb-5 text-center text-3xl font-bold">Clasificación por Equipos</h2>

	{
		listClasificacion.length > 0 && (
			<ul class="mx-auto">
				{listClasificacion.map((c, i) => (
					<li class="grid grid-cols-[.2fr_1fr_.6fr_1fr] gap-4 hover:bg-gray-300">
						<div class="text-right">{i + 1}</div>
						<div>{c.participante?.team?.nombre}</div>
						<div class="text-right">{c.ganancia ? Math.round(c.ganancia * 100) / 100 : ""} €</div>
						<div>
							{c.puntos} pts.
							{idTemporada && c.sancion! > 0 && <small class="text-red-500">(-{c.sancion})</small>}
						</div>
					</li>
				))}
			</ul>
		)
	}

	{
		listClasificacion.length == 0 && (
			<div class="flex bg-gray-300 p-5">
				<i>
					<Exclamation class="mr-1 h-5 w-5 text-black" />
				</i>{" "}
				Clasificación no disponible
			</div>
		)
	}
</article>
