---
import type {Apuesta} from '@/lib/model'
import {usuarios} from '@/lib/usuarios'
import Exclamation from '@/icons/Exclamation.astro'

const { apuestas } = Astro.props;

if(apuestas){
    let apuestasPendientes = false;
    usuarios.forEach(u => {
        let apuestasUsuario : Apuesta[] = (apuestas as Apuesta[]).filter(a=> a.user.id === u.id)
        u.apuestas = apuestasUsuario
        u.ganancia = 0
        // calculo ganancia
        u.apuestas.forEach (a => {
            if(a.estado === 2){
                u.ganancia = (u.ganancia ?? 0) + a.importe * a.cuota - a.importe
            } else if (a.estado === 3){
                u.ganancia = (u.ganancia ?? 0) - a.importe
            }else {
                apuestasPendientes = true;
                return
            }
        })
    })

    if(apuestasPendientes){
        console.warn('Hay apuestas pendientes')
        // return;
    } 
    usuarios.sort((a,b) => {    
        if((a.ganancia ?? 0) < (b.ganancia ?? 0)){
            return 1
        }
        if((a.ganancia ?? 0) > (b.ganancia ?? 0)){
            return -1
        }
        return 0
    })

    const puntuacion: number[] = [14, 11, 8, 6, 4, 3, 2, 1]
    usuarios.forEach((u,i) => {
        if(u.ganancia !== -3){
            u.puntos = puntuacion[i] ?? 0
        }else{
            u.puntos = 0
        }
    })
}

---

<article class="flex flex-col justify-center">
    <h2 class="text-3xl font-bold text-center mb-5">Clasificación individual</h2>
    
    {apuestas &&
        <ul class="max-w-[40rem] mx-auto">
            {
                usuarios.map((u, i) => (
                    <li class="grid grid-cols-[.3fr_1fr_.5fr_1fr] gap-4 hover:bg-gray-300">
                        <div class="text-right">{i+1}</div>
                        <div>{u.nombre} <small class={"text-xs bg-gray-200 p-1 rounded-lg "}>{u.team.nombre}</small></div>
                        <div class="text-right">
                            { (Math.round( ( u.ganancia ?? 0) * 100 ) / 100).toFixed(2) }€ 
                        </div>
                        <div>
                            { u.puntos } pts.
                            { u.ganancia == -3 && <span class="bg-gray-500 text-white rounded p-1 text-xs">DNF</span> }
                        </div>
                    </li>
                ))
            }
        </ul>
    }

    { !apuestas && <div class="flex bg-gray-300 p-5"><i><Exclamation class="h-5 w-5 text-black mr-1"/></i> Clasificación no disponible</div> }
</article>