<section class="flex flex-col items-center mb-9">
  <img src="/img/f1limb_logo.avif" class="h-60" />
  <!-- <h1 class="flex text-6xl font-medium ">F1 Limb</h1> -->
  <span class="flex">~ Si parpadeas lo vas a limbar ~</span>
</section>
