---
import ApuestasUsuario from "@/components/ApuestasUsuario.astro"
import Exclamation from "@/icons/Exclamation.astro"
import { ApuestaService } from "@/lib/apuestaService"
import { UserService } from "@/lib/userService"

const { gpId } = Astro.props

let apuestaService = new ApuestaService()
const listApuestas = await apuestaService.getApuestasByGP(gpId)

let userService = new UserService()
const usuarios = await userService.getUsersTeam()

usuarios.forEach((u) => {
	u.apuestas = []
	if (listApuestas !== undefined) {
		let apuestasUsuario = listApuestas.filter((a) => a.user?.id === u.id)
		u.apuestas = apuestasUsuario
	}
})

const visible = await apuestaService.hanApostadoTodosTodo(gpId, true)
---

{
	visible && listApuestas && listApuestas.length > 0 ? (
		<>
			<h2 class="text-center text-3xl font-bold">Apuestas</h2>
			<setion class="mx-auto mb-5 max-w-[40rem]">
				<ul>
					{usuarios.map(
						(u) =>
							u.apuestas &&
							u.apuestas.length > 0 && (
								<li>
									<ApuestasUsuario usuario={u} />
								</li>
							)
					)}
				</ul>
			</setion>
		</>
	) : (
		<div class="flex bg-gray-300 p-5">
			<i>
				<Exclamation class="mr-1 h-5 w-5 text-black" />
			</i>{" "}
			No hay apuestas o todavía no son visibles
		</div>
	)
}
