---
import ApuestasUsuario from "@/components/ApuestasUsuario.astro"
import { ApuestaService } from "@/lib/apuestaService"
import { UserService } from "@/lib/userService"

const { gpId } = Astro.props

let apuestaService = new ApuestaService()
const listApuestas = await apuestaService.getApuestasByGP(gpId)

let userService = new UserService()
const usuarios = await userService.getUsersTeam()

usuarios.forEach((u) => {
	u.apuestas = []
	if (listApuestas !== undefined) {
		let apuestasUsuario = listApuestas.filter((a) => a.user?.id === u.id)
		u.apuestas = apuestasUsuario
	}
})
---

{
	listApuestas && listApuestas.length > 0 && (
		<>
			<h2 class="text-center text-3xl font-bold">Apuestas</h2>
			<setion class="mx-auto mb-5 max-w-[40rem]">
				<ul>
					{usuarios.map(
						(u) =>
							u.apuestas &&
							u.apuestas.length > 0 && (
								<li>
									<ApuestasUsuario usuario={u} />
								</li>
							)
					)}
				</ul>
			</setion>
		</>
	)
}
