---
import ApuestasUsuario from '@/components/ApuestasUsuario.astro'
import type {Apuesta} from '@/lib/model'
import {usuarios} from '@/lib/usuarios'

const { index } = Astro.props

const filesApuestas  = await Astro.glob('@/content/*/apuestas.json');
const listApuestas = filesApuestas[index]?.default

usuarios.forEach(u => {
    u.apuestas = []
    if(listApuestas !== undefined){
        let apuestasUsuario : Apuesta[] = (listApuestas as Apuesta[]).filter(a=> a.user.id === u.id)
        u.apuestas = apuestasUsuario
    }  
})
---

{ listApuestas && 
    <h2 class="text-3xl font-bold text-center">Apuestas</h2>
    <setion class="max-w-[40rem] mx-auto mb-5">
        <ul>
        {
            usuarios.map(u => (
                <li>
                    <ApuestasUsuario usuario={u}/>
                </li>
            ))
   
        }
        </ul>
    </setion>
}
