---
import HeroGP from "@/components/HeroGP.astro"
import Login from "@/icons/Login.astro"
import Layout from "@/layouts/Layout.astro"
import ListaApuestasGPUser from "@/sections/ListaApuestasGPUser.astro"
import Nav from "@/sections/Nav.astro"
import { turso } from "@/turso"
import { getSession } from "auth-astro/server"

const session = await getSession(Astro.request)
//console.log(session)
const { i: gpId } = Astro.params
if (!gpId) return
const { rows } = await turso.execute({ sql: "SELECT * FROM gp WHERE id = ?", args: [gpId] })
const infoGP = rows[0]
---

<Layout title="F1 Limb">
	<Nav info={infoGP} />
	<main class="mx-auto max-w-6xl px-2 pt-16 md:pt-20 lg:px-10">
		<HeroGP info={infoGP} />
		<h2 class="mb-5 text-center text-xl font-bold">
			Apuestas del GP
			<a href={"/gp/" + infoGP.id} class="float-end bg-teal-200 p-2 text-sm font-normal">Volver</a>
		</h2>
		{
			session ? (
				<>
					<ListaApuestasGPUser gpId={gpId} />
				</>
			) : (
				<button class="login mx-auto flex bg-teal-800 p-2 text-white hover:bg-teal-500 hover:text-black">
					<Login class="mr-1 h-5 w-5" />
					Haz Login para apostar
				</button>
			)
		}
	</main>
</Layout>
